worker_processes 1;

events {
  worker_connections 1024;
}

http {
  # Enable IPv6 resolution
  resolver 127.0.0.11 ipv6=on;

  # Define limit zone for rate limiting
  limit_req_zone $binary_remote_addr zone=login:10m rate=1r/s;

  server {
    listen ${PORT};
    # Add IPv6 listener
    listen [::]:${PORT};
    server_name localhost;

    # Custom error pages
    error_page 401 = @error401;

    location @error401 {
      return 302 /login;
    }

    # Serve the login page
    location /login {
      # Apply rate limiting
      limit_req zone=login burst=5 nodelay;
      auth_basic off;
      try_files /html/login.html =404;
    }

    location / {
        # Basic auth configuration
        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/.htpasswd;
        
        # Proxy headers
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Nginx-Proxy true;
        
        # Security headers
        add_header X-Frame-Options "SAMEORIGIN";
        add_header X-XSS-Protection "1; mode=block";
        add_header X-Content-Type-Options "nosniff";
        add_header Referrer-Policy "strict-origin-when-cross-origin";
        add_header Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline';";
        
        proxy_pass ${PROXY_PASS};
    }
  }
}